# =============== #
# Unity generated #
# =============== #
/Unity/*/[Tt]emp/
/Unity/*/[Oo]bj/
/Unity/*/[Bb]uild
/Unity/*/[Bb]uilds/
/Unity/*/[Ll]ibrary/
/Unity/*/sysinfo.txt
/Unity/*/*.stackdump
/Unity/*/Assets/AssetStoreTools*
/Unity/*/*.apk
/Unity/*/*.unitypackage

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
