# =============== #
# Unity generated #
# =============== #
Unity/spacejam/[Tt]emp/*
Unity/spacejam/[Oo]bj/*
Unity/spacejam/[Bb]uild
Unity/spacejam/[Bb]uilds/*
Unity/spacejam/[Ll]ibrary/*
Unity/spacejam/sysinfo.txt
Unity/spacejam/*.stackdump
Unity/spacejam/Assets/AssetStoreTools*
Unity/spacejam/*.apk
Unity/spacejam/*.unitypackage

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
Unity/spacejam/Library
Unity/spacejam/Library
Unity/spacejam/ProjectSettings
